/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #fafbfd;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  color: rebeccapurple;
  text-align: center;
  padding: 1em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    font-size: xx-large;
    font-family: fantasy;
    color: darkslateblue;
    justify-content: center;
}

h3 {
  font-size: 30px;
  color: darkgreen;
  font-family: fantasy;
  justify-content: center;
}

h4 {
    font-size: larger;
    color: indigo;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 10px;
  background: #5191fd;
}

/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: rgb(43, 21, 211);
  text-decoration: none;
}
.nav {
  color: blue;
}
/* Styling the header, giving it a height, a background color, and some top padding */
.header {
  height: 200px;
  padding-top: 20px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 60px;
  margin: 0;
  color: #000;
  text-align: center;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}

button {
   justify-content: center;
}

.jumbotron {
    background-color: aqua;
    border-color: darkblue;
    justify-content: center;

}
/* @media (max-width: 400px) */

/* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> */